$img-preload-filter: none;
$tooltip-font-size: 12px;
$tab-font-size: 14px;
$tabs-bar-height: 36px;
$expansion-panel-header-min-height: 26px;
$expansion-panel-active-header-min-height: 26px;
$expansion-panel-content-padding: 0px;